.stack-of-records {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-of-records {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-row-records label {
    font-weight: bold;
}

.records {
    border: solid 1px black;
}